.catgenmain{
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    }
.button{
    background-color: green;
    color: white;
}

.button:hover{
    background-color: blue;
}

.flexbox{
    display: flex;
    border: 1px solid black;
    padding: 7px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.catt{
    margin: 5px;
    width: 45%;
}
