.catgenmain{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    }

.flexbox{
    display: flex;
    border: 1px solid black;
    padding: 7px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.catt{
    margin: 5px;
    width: 0.4em;
}
